<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- SSL Validation -->
    <location path=".well-known/acme-challenge">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>

    <!-- www Redirect -->
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Canonical Host Name" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^jolly-home\.uk$" />
                    </conditions>
                    <action type="Redirect" url="http://www.jolly-home.uk/{R:0}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    
</configuration>
